@font-face {
  font-family: "Apoc";
  src: url("fonts/Apoc_Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "p";
  src: url(/fonts/Apoc_Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 1cm;
  border: 2px solid #283274;
  box-sizing: border-box;
  background-color: #f9f2f2;
  padding: 1cm;
}
header {
  background-color: #f9f2f2;
}
/*fonte*/
h1 {
  font-family: "Apoc";
  text-align: center;
  font-size: 45px;
  color: #000d3f;
  padding-bottom: 2rem;
}

.menu {
  font-family: "Apoc";
  font-size: x-large;
  color: #000d3f;
}

p {
  font-family: "p";
}

/*footer*/
.social-icons a i {
  color: #283274;
  font-size: 24px;
  text-align: center;
  margin: 3px;
}

footer {
  padding: 2rem 4rem;
  text-align: center;
}

.social-icons,
.tekst_footer {
  margin-top: 10px; /* Tilføj et passende mellemrum mellem de to div-elementer */
}

.tekst_footer {
  color: rgb(170, 166, 166);
  font-size: 15px;
}

.tekst_footer2 a {
  color: rgb(122, 116, 116);
}

/* BURGER MENU I MOBILEVIEW*/
header {
  padding: 20px;
}

.logo img {
  width: 37%;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  position: absolute;
  left: 61%;
}

/* .menu li {
  margin-right: 20px;
} */

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: flex;
  padding: 10px;
  color: #000d3f;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

.menu a:hover {
  text-decoration: underline; /* Tilføj understregningen ved hover */
}

/* .menu a:hover {
  color: #221a13;
} */

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #000d3f;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/* MENU I MOBILEVIEW */
@media screen and (max-width: 800px) {
  .menu,
  .min_profil {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: #e4dddd;
    position: absolute;
    top: 149px;
    right: 40px;
    /* width: 100%; */
    /* box-shadow: 0 0 10px rgba(123, 23, 23, 0.1); */
    z-index: 2;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 20px;
  }

  li {
    width: 100%;
  }
}
